html {
  background-color: lavender;
}


h1 {
  text-align: center;
  text-decoration: underline;
  font-family: monospace;
  font-size: -webkit-xxx-large;
  padding-top: 30px;
}

input {
  background: none;
  color: rgb(140, 140, 140);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 50%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid lightgrey;
}

input:focus {
  outline: none;
}

button {
  background-color: #D6EEFF;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 40px 20px 0;
  font-size: 20px;
  cursor: pointer;
}

.lucky-btn {
  background-color: #A491D3;
  color: white;
}

.card {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 25px;
  max-width: 600px;
  margin: auto;
  background: white;
  border-radius: 5px;
}

h4 {
  margin-left: 20px;
    font-size: 18px;
    text-decoration: underline;
}

#form {
  margin-left: 50px;
}

#submit {
  background-color: gainsboro;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  font-family: auto;
}

#split {
  background-color: gainsboro;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  font-family: auto;
  margin-left: 40px;
}

h5 {
  margin-left: 50px;
}

h2 {
  margin-left: 20px;
  font-size: 24px;
}

#bill {
  margin-left: 20px;
  font-size: 18px;
  text-decoration: underline;
}

h3 {
  margin-left: 20px;
  font-size: 18px;
}

#between {
  margin-left: 20px;
  font-size: 18px;
}